.footer {
  background: #000;
  color: #fff;
  padding-top: 40px;
  margin-top: 60px;
  border-top: 1px solid #222;
}

/* CONTENEDOR PRINCIPAL */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* IZQUIERDA */
.footer-left {
  max-width: 300px;
}

.footer-logo {
  width: 140px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 14px;
  color: #aaa;
}

/* DERECHA */
.footer-right {
  display: flex;
  gap: 60px;
}

/* TITULOS */
.footer h5 {
  margin-bottom: 10px;
  font-size: 16px;
}

/* LISTAS */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 6px;
  cursor: pointer;
}

.footer li:hover {
  color: #fff;
}

/* PARTE FINAL */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid #222;
  font-size: 13px;
  color: #888;
}